.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__like-button {
  background: transparent url("../images/like-button.svg") center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 50%;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
