.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0px 0px;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__delete-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19.3px;
  width: 18px;
  border: none;
  cursor: pointer;
  background-size: contain;
}

.card__delete-button:hover {
  opacity: 60%;
}

.card__like-button {
  background: transparent url("../images/like-button.svg") center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-button-active.svg");
}

.card__like-button:hover {
  opacity: 50%;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
