.footer__copywright {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 67px auto 60px;
}

@media screen and (max-width: 800px) {
  .footer__copywright {
    max-width: 581px;
  }
}
@media screen and (max-width: 480px) {
  .footer__copywright {
    max-width: 282px;
    margin-top: 48px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
