.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
}
.modal_opened {
  /*display: flex; */
}

.modal__container {
  position: relative;
  padding: 0;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  border: 1px;
  border-color: #000;
  width: 430px;
  height: 330px;
}

.modal__form {
  height: 330px;
  width: 430px;
  position: absolute;
}

.modal__heading {
  color: #000;
  margin: 34px 64px 54px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.modal__close {
  background-image: url("../images/Close.svg");
  border: none;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__close:hover {
  opacity: 60%;
}

.modal__button {
  height: 50.15px;
  width: 358px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 18.26px 36px 36px;
}

.modal__input {
  display: block;
  color: rgba(0, 0, 0, 1);
  height: 27.26px;
  width: 358px;
  margin: 0 36px 29.74px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  border: none;
  border-style: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  background: transparent;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.modal__input::placeholder {
  color: #000;
}

@media screen and (max-width: 800px) {
  .modal__close {
    left: 90%;
    bottom: calc(100% + 15px);
  }
}

@media screen and (max-width: 480px) {
  .modal__form {
    width: 282px;
    height: 322px;
  }
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__heading {
    width: 238px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 22px 75px;
  }
  .modal__input {
    width: 238px;
    height: 27px;
    margin: 0 22px 30px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin: 15px 22px 25px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13.62px);
  }
}
